<ion-view title="Lock screen" hide-nav-bar="true" id="page1" style="background-color:#22B14C;">
<script src="//code.ionicframework.com/nightly/js/ionic.bundle.js"></script>

  <ion-content padding="true" style="background: url(img/CNAVN0ZEQcmCXZmYCrQi_Cute-Panda-Zzz-Sleeping-Bubble-Cartoon-Vinyl-Decal-Sticker-.-115729.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <div class="spacer" style="width: 300px; height: 420px;"></div>
    <br><br>
    <a  style="color:#FCFCFC;border-radius:100px 100px 100px 100px;" class="button button-dark  button-block" ng-click="showAlert()">{{text}}</a>
    <a ui-sref="unlockScreen" id="lockScreen-button4" style="color:#FCFCFC;border-radius:100px 100px 100px 100px;" class="button button-dark  button-block">Unlock the screen</a>
    <div id="lockScreen-button-bar1" class="button-bar">
      <button id="lockScreen-button11" style="font-weight:600;color:#000000;" class="button button-light button-large button-block button-clear icon ion-android-call"></button>
      <button id="lockScreen-button12" style="color:#000000;" class="button button-light button-large button-block button-clear icon ion-ios-email"></button>
      <button id="lockScreen-button13" style="color:#000000;" class="button button-light button-large button-block button-clear icon ion-android-camera"></button>
    </div>
  </ion-content>
</ion-view>