 <ion-view title="Task's screen" hide-nav-bar="true" id="page3" style="background-color:#99D9EA;">
  <ion-content padding="true" >
 <ion-list id="taskScreen-list2">
  <h2 id="taskScreen-heading2" style="color:#000000;text-align:center; text-decoration: underline;">Additional tasks</h2>
  <br>
  <br>
   <!--  <ion-scroll style="height: 12em;"> -->
      <ion-checkbox id="kidSScreen-checkbox1" style="
              background-color: Transparent;
              background-repeat:no-repeat;
              border: none;
              cursor:pointer;
              overflow: hidden;
              outline:none;
              font-size:18px;
              font-weight:700;">Washing dishes - 10 mins
      </ion-checkbox>
      <ion-checkbox id="kidSScreen-checkbox2" style="
              background-color: Transparent;
              background-repeat:no-repeat;
              border: none;
              cursor:pointer;
              overflow: hidden;
              outline:none;
              font-size:18px;
              font-weight:700;">Walking with dog - 15 mins
      </ion-checkbox>
      <ion-checkbox id="kidSScreen-checkbox3" style="
              background-color: Transparent;
              background-repeat:no-repeat;
              border: none;
              cursor:pointer;
              overflow: hidden;
              outline:none;
              font-size:18px;
              font-weight:700;">Talking with dad - 15 mins
      </ion-checkbox>
      <ion-checkbox id="kidSScreen-checkbox3" style="
              background-color: Transparent;
              background-repeat:no-repeat;
              border: none;
              cursor:pointer;
              overflow: hidden;
              outline:none;
              font-size:18px;
              font-weight:700;">Reading books - 15 mins
        </ion-checkbox>
        <ion-checkbox id="kidSScreen-checkbox3" style="
              background-color: Transparent;
              background-repeat:no-repeat;
              border: none;
              cursor:pointer;
              overflow: hidden;
              outline:none;
              font-size:18px;
              font-weight:700;">Do home work - 20 mins
        </ion-checkbox>
        <ion-checkbox id="kidSScreen-checkbox3" style="
              background-color: Transparent;
              background-repeat:no-repeat;
              border: none;
              cursor:pointer;
              overflow: hidden;
              outline:none;
              font-size:18px;
              font-weight:700;">Good grade - 10 mins
        </ion-checkbox>

     <!-- </ion-scroll> -->
     </ion-list>
    <a ui-sref="lockScreen" id="taskScreen-button6" style="font-weight:600;color:#000000;font-size:20px;" class="button button-energized  button-block">Submit</a>
      </ion-content>
</ion-view>